.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
        linear-gradient(
            to right,
            rgba(37,37,37, 0.9),
            rgba(37,37,37, 0.3)
        ),
        url("https://images.unsplash.com/photo-1523966211575-eb4a01e7dd51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80") center ;
    background-size: cover;
    
    
    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
    .fas{
        padding-right: 2px;
        
    }
}

.contact-list{
    position: relative;
    right: 0;
}