.home {
    height: 100%;
    padding-top: 30vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(
            to right,
            rgba(37,37,37, 0.7),
            rgba(37,37,37, 0.3)
        ),
        url("../dist/imgs/sunflowerField.jpg") center top fixed;
    background-size: cover;
    

    &_name{
        font-size: 4rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
   
    
}

.my-work{
    border: 1px solid white;
    position: relative;
    top: 30px;
    border-radius: 5px;
    padding: 3px;
    font-weight: 800;
    &:hover{
        color: orange;
        border: 3px solid white;
        transition: 0.3s ease;
    }
}

.description_self--taught{
    width: 50%;
}